@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Fredoka:wght@500&family=Plus+Jakarta+Sans:wght@500&family=Roboto&display=swap');

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.project{
    padding: 2rem 0;
}

.project .heading h2{
    font-size: 24px;
    color: #20484F;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    margin: 3rem 0;
}
h3{
    font-size: 20px;
    color: #20484F;
    font-weight: 700;
    text-transform: capitalize;
    width: 100%;
}
.project .imgbox{
    position: relative;
}
.project .post1{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 12px;
    display: inline-block;
    position: absolute;
    top: 9%;
    left: 19%;
    width: 60%;
    height: 313px;
    box-shadow: 0px 0px 5px 2px #c9c0c0;
}
.space{
    background: rgba(32, 72, 79, 0.1);
    border-radius: 12px;
    padding: 0.3rem 0;
    border-style: none;
    margin: 1rem 0;
}
.project i{
    background-color: #B8E4DA;
    color: #20484F;
    font-size: 10px;
    padding: 0.3rem;
    border-radius: 50px;
}
.boxes{
    text-align: center;
    margin: 1rem;
    line-height: 1.6;
}
.project  .newproject{
    font-weight: 400;
    font-size: 12px;
    color: #072125;
}
.post2{
        background-color: rgb(255, 255, 255);
        padding: 1rem;
        border-radius: 12px;
        position: absolute;
        top: 30%;
        left: -1%;
        width: 100%;
        box-shadow: 0px 0px 5px 2px #c9c0c0;
        
}
.project .post2 i{
    background-color: #B8E4DA;
    padding: 1rem;
    font-size: 30px;
    margin-right: 3rem;
}
.post3{
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 14%;
    left: 15%;
    box-shadow: 0px 0px 5px 2px #c9c0c0;
    min-height: 260px;
    width: 60%;
}
.post3 .avatar{
    padding: 3px;
    border: 5px solid #B8E4DA;
    border-radius: 50%;
}
.post3 h5{
    line-height: 1.5;
    font-size: 16px;
    font-weight: bolder;
    color:  #20484F;
}
.post3 p{
    font-size: 14px;
    font-weight: 100;
    line-height: 1.8;

}
@media only screen and (max-width: 600px) {
    .col-sm-12 {
        width: 100%;
        margin: 1.5rem 0;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .col-mobile{
        margin: 1rem auto;
    }
   
}
