*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.photos{
    padding: 3rem 0;
    text-align: center;
    .heading{
        h2{
            font-weight: 700;
            font-size: 40px;
            line-height: 1.6;
            color: #072125;
        }
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            width: 45%;
            margin: auto;
        }
    }
    .imgbox{
        border-radius: 12px;
        margin: 1rem 0;
        .img1{
            width: 70%;
            height: 250px;
            transform: rotate(339deg) translate(20px);
        }
        .img2{
            width: 70%;
            transform: rotate(5deg) translateY(150px);
        }
        .img3{
            width: 70%;
            height: 250px;
            transform: rotate(349deg) translateX(-30px);
        }
        
        .img4{
            width: 70%;
            transform: rotate(10deg) translateY(170px);
        }
    }
}