.shop{
    .nav{
        a{
            color: black;
            font-size: 10px;
            
        }
        .mrg{
            text-align: right;
        }
    }
    .icons{
        text-align: right;
        i{
            margin: 0 0.6rem;
        }
    }
}
.mrg::after{
 content: "|";
 margin: 0 0.5rem;
}

.menubar{
  padding-bottom: 2rem;
  .icons{
    font-size: 20px;
    text-align: center;
    margin: auto;
  }
}

.onlineshop{
    .imgbox{
        position: relative;
        .shopicons{
            position: absolute;
            background-color: white;
            border-color: black;
            left: 12%;
            bottom: 20%;
            padding: 1rem;
            opacity: 0;
            i{
                font-size: 28px;
                margin: 0 1rem;
            }
        }
        .cash{
            margin: 1rem 0;
            text-align: center;
            p{
                font-size: 14px;
                line-height: 1;
            }
            span{
              
            }
            .price{
                text-decoration: line-through;
            }
        }
      
    }
}
.imgbox:hover .shopicons{
    opacity: 1;
    transition: all 1s ease-in-out;
}
.cash:hover p{
    color: red;
}
